{% extends "head_foot.html" %}
{% block title %}
Create log
{% endblock %}
{% block head %}
<link rel="stylesheet" href="../static/css/add_log_form.css">
{% endblock %}
{% block content %}
        <h1 class="mt-4 text-center text-decoration-underline"> {{ tracker.name}} </h1>
        <h2 class="mt-4 text-center text-decoration-underline"> Create a log </h2>

        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <p class="flashes">
                        {% for message in messages %}
                            <p> {{message}} </p>
                        {% endfor %}
                    </p>     
                {% endif %}
            {% endwith %}
    
        </div>

        <div id="log-form-container" class="bg-white p-2">
            <form class="d-flex flex-column align-items-center p-2 w-100 rounded" method="POST" action="/add_log/{{tracker.id}}">
                {{ form.csrf_token }}
                <div class="d-flex justify-content-start align-items-center mb-3 w-100">
                    {{ form.note.label() }}
                    {{ form.note(class="ms-4") }}
                </div>
    
                
                {%if tracker.tracker_type == 'Numerical' or tracker.tracker_type == 'Time Duration' %}
                    
                    <div class="d-flex justify-content-start align-items-center mb-3 w-100">
                        <label for="value"> Value: </label>
                        <input name="value" class="ms-3">
                        <span> {{ tracker.settings[0].name }}</span>
                    </div>
                {% else %}
                    <div class="d-flex justify-content-start align-items-center mb-3 w-100">
                        <label for="value"> Value: </label>
                        <select name="value" class="ms-3">
                        {% for setting in tracker.settings %}
                            <option> {{ setting.name }} </option>
                        {% endfor %}
                        </select>
                    </div>
               {% endif %}
               <div class="d-flex justify-content-start align-items-center mb-3 w-100"  >
                <label> When: </label>
                <input class="ms-3" id="datetime" name="timestamp" type="datetime-local">
            </div>
                {{ form.submit(class="mt-3 p-2") }}
            </form>
        </div>

    {% block footer %}
        <script src="../static/js/create_log_form.js"></script>
    {% endblock %}
{% endblock %}