{% extends "head_foot.html" %}
{% block title %}
Dashboard
{% endblock %}
{% block head %}
<link rel="stylesheet" href="../static/css/dashboard.css">
{% endblock %}
{% block content %}

    <!-- <h1 id="head" class="text-center mt-4">  </h1> -->
    <div id="flash-message">
      {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flashes">
                    {% for category, message in messages %}
                        <p class="{{ category }}">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

    </div>
  <div class="container-fluid mt-4">
    <div class="row align-items-center justify-content-center">
      <div class="col-4 offset-md-2">
        <h2 class="text-decoration-underline mt-3"> My Trackers </h2>
      </div>
      <div class="col-4 offset-md-2">
        <h2>
          <button id="create-tracker-button" type="button" class="btn btn-danger"> Create tracker  </button>
          
        </h2>
      </div>
    </div>
    
    
  </div>
  
  
    <!-- <img src='data:image/png;base64,{{data}}'>  -->
    <div class="container-md main-container bg-white p-4"> 
      <div class="row mx-auto align-items-center justify-content-start">
      {% for tracker in trackers %}
      
        <div class="col-3 ms-3 tracker-card">
          <!-- <div>
            &#x1F60a;
          </div> -->
          <p class="fs-2 text-center align-middle text-uppercase text-decoration-underline"> {{tracker.name}} </p> 
          <div class="dropdown">
            <button id="options-button" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Options
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/create_log/{{tracker.id}}">Create log</a></li>
              <li><a class="dropdown-item" href="/view_logs/{{tracker.id}}">View logs</a></li>
              <li><a class="dropdown-item" href="/edit_tracker/{{tracker.id}}">Edit tracker </a></li>
              <li><a class="dropdown-item" href="/delete_tracker/{{tracker.id}}">Delete tracker</a></li>
            </ul>
          </div>
         <p class="mt-2 fst-italic"> <span class="text-decoration-underline fw-bold">Last logged:</span> {{ tracker.last_logged }}</p>
        </div>
    
      {% endfor %}
    </div>
    </div>
    {% endblock %}
    {% block footer %}
    <script src="../static/js/dashboard.js"></script>
    {% endblock %}
