{% extends "head_foot.html" %}
{% block title %}
Create Tracker
{% endblock %}
{% block head %}
<link rel="stylesheet" href="../static/css/tracker_form.css">
{% endblock %}
{% block content %}
        <h1 class="mt-4 text-center text-decoration-underline"> Create Tracker </h1>

        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <p class="flashes">
                        {% for message in messages %}
                            <p> {{message}} </p>
                        {% endfor %}
                    </p>     
                {% endif %}
            {% endwith %}
    
        </div>
        <div id="tracker-form-container" class="bg-white p-2">
            <form id="tracker-form" class="d-flex flex-column align-items-center p-2 w-100 rounded" method="POST" action="/add_tracker">
                {{ form.csrf_token }}
                <div class="mb-3 w-100">
                    {{ form.name.label(class="form-label") }}
                    {{ form.name() }}
                </div>
                <div class="mb-3 w-100">
                    {{ form.tracker_type.label() }}
                    {{ form.tracker_type() }}
                </div>
                <div class="mb-3 w-100">
                    {{ form.description.label() }}
                    {{ form.description() }}
                </div>
                {{ form.tracker_settings() }}
                <div class="mb-3 w-100" id="settings">
                </div>  
            <div>
                {{ form.submit() }}
            </div>
            </form>
        </div>
        {% endblock %}
        
        {% block footer %}
            <script src="../static/js/tracker_form.js"></script>
        {% endblock %}

        
    